


header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 2s;
    flex-wrap: wrap;
  }
  @keyframes glow {
    0% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 30px #ff00de, 0 0 35px #ff00de;
    }
    50% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de, 0 0 70px #ff00de;
    }
    100% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 30px #ff00de, 0 0 35px #ff00de;
    }
  }

  .logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color: #fff;
    animation: glow 3s infinite alternate;
  }
    
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  .active {
    border-bottom: 2px solid #ff00de;
  }
  
  
  nav a:hover {
    color: #ff00de;
    transition: color 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes glow {
    0% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff1493, 0 0 20px #ff1493, 0 0 25px #ff1493, 0 0 30px #ff1493, 0 0 35px #ff1493;
    }
    50% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff1493, 0 0 40px #ff1493, 0 0 50px #ff1493, 0 0 60px #ff1493, 0 0 70px #ff1493;
    }
    100% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff1493, 0 0 20px #ff1493, 0 0 25px #ff1493, 0 0 30px #ff1493, 0 0 35px #ff1493;
    }
  }

  
  .hamburger-menu {
    background: none;
    border: 2px solid #ff1493;  /* Neon pink border */
    font-size: 2rem;
    cursor: pointer;
    color: #ff1493;  /* Neon pink text */
    padding: 10px;
  }
  
  /* Add hover effect */
  .hamburger-menu:hover {
    background-color: #ff1493;  /* Neon pink background */
    color: #fff;  /* White text */
  }
  

  @media only screen and (max-width: 768px) {
    header {
      background-color: #000;
      color: #fff;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      animation: _ngcontent-ng-c355168694_fadeIn 2s;
      flex-direction: column;
  }
    
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  }