<header>
  <!-- Add this inside your header.component.html -->
  <button class="hamburger-menu" (click)="toggleSidebar()">
    &#9776; <!-- This is a simple hamburger icon -->
  </button>
    <div class="logo">
      Fine Fright Reviews
    </div>
    <nav>
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
          <li><a routerLink="/genre" routerLinkActive="active">Genres</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
          <li><a routerLink="/request" routerLinkActive="active">Request a review</a></li>
        </ul>
      </nav>
      
  </header>
  