<footer>
    <div class="copyright">
      © 2023 Fine Fright Reviews. All rights reserved.
    </div>
    <div class="social-media">
      <!-- Insert social media icons here -->
    </div>
        <nav>
            <ul>
              <li><a routerLink="/" routerLinkActive="active">Home</a></li>
              <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
              <li><a routerLink="/about" routerLinkActive="active">About</a></li>
              <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
              <li><a routerLink="/request" routerLinkActive="active">Request a review</a></li>
            </ul>
          </nav>

  </footer>
  