<div class="carousel">
  <div class="carousel-item" *ngFor="let item of items; let i = index" [ngClass]="{ 'active': i === currentSlide }">

    <!-- Wrap the img tag inside an <a> tag with [routerLink] -->
    <a [routerLink]="['/review', item.code]">
      <img [src]="item.poster" alt="Movie Poster">
    </a>
    
    <h2>{{ item.title }}</h2>
    <p>{{ item.shortSummary }}</p>

  </div>
  <button class="carousel-button prev" (click)="prevSlide()">&lt;</button>
  <button class="carousel-button next" (click)="nextSlide()">&gt;</button>
</div>
