/* Hero Section */
.hero-section {
  background-size: cover !important;
  color: #fff;
  text-align: center;
  animation: fadeIn 2s;

}

.hero-section img{
    max-width: 300px;
    border: 2px solid #ff1493; /* Neon pink for the '80s vibe */
    margin-bottom: 1rem;
  }


.hero-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

.overall-rating, .review-content, .author-info, .gallery {
  margin-bottom: 2rem;
}

/* Gallery */
.gallery img {
  
  width: 100%;
  margin-bottom: 1rem;
}
.gallery{
  scroll-snap-align: none;
}
.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  margin-left: 10%;
  margin-right: 10%;
}

iframe {
  display: block;
  margin: auto;
  width: 80%;

  margin-left: 10%;
  margin-right: 10%;
  height: 520px;
}



/* Individual sections */
.section {
  min-height: 100vh;
  scroll-snap-align: start;
}

.overlay {
  transition: opacity 0.3s ease;
}

.overlay:hover {
  opacity: 0.7;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* Main Content */
.main-content {
  width: 80%; 
  margin: auto; 
  padding: 20px;
}
.paragraph-wrap {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 1em;
}

.image-wrap {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}
/* Increase the size of all text within the review-content article */
.review-content {
  font-size: 1.5em; /* Adjust this value to your preference */
}

/* Optional: Increase the size of h2 elements within the review-content article */
.review-content h2 {
  font-size: 2em; /* Adjust this value to your preference */
}



