/* You can add global styles to this file, and also import other style files */
.paragraph-wrap {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 1em;
  }
  
  .image-wrap img {
    max-width: 80%;
    margin: 0 auto; /* Center the image */
    display: block;
  }
  